#chuangp-footer {
	font-family: "微软雅黑";
}
#footer2, .navbar-footer {
	min-height: 136px;
	background-color: #8e8e8e;
}
.navbar-footer {
	float: left;
}
#footer-brand {
	padding-left: 250px;
}
#footer-navbar-logo {
	height: 136px;
	width: 90px;
	padding-top: 43px;
	padding-bottom: 43px;
	float: left;
}
#footer-nav>li>a, #footer-navbar-brand>a {
	color: #ffffff;
}
#footer-navbar-brand {
	height: 136px;
	width: 275px;
	font-size: 12px;
	line-height: 1.5;
	padding-top: 56.5px;
	padding-left: 0;
}
#footer-nav>li {
	height: 136px;
}
#footer-nav>li>a {
	padding-top: 56.5px;
	padding-right: 4px;
	padding-bottom: 56.5px;
	padding-left: 4px;
	text-align: center;
}
#footer1 {
	height: 215px;
	background-color: #ffffff;
}
#contactshare-nav>li>a {
	color: #777777;
}
#contanctinfo>li>a {
	color: #8e8e8e;
}
#contactshare-nav>li {
	height: 152px;
}
#contactshare-nav>li>a {
	padding-top: 30px;
	padding-right: 4px;
	padding-bottom: 10px;
	padding-left: 4px;
	text-align: center;
}
#line {
	height: 152px;
	width: 2px;
	background-color: #777777;
	margin-left: 400px;
	margin-top: 30px;
}
#erweima {
	height: 130px;
	width: 130px;
	background-image: url(../img/footer/2weima.png);
	background-repeat: no-repeat;
	background-position: top;
}
#erweima a {
	font-size: 10px;
	color: #777777;
	padding-top: 110px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}
#contanctinfo {
	height: 113px;
	width: 390px;
}
#contanctinfo li{
	height: 37px;
	width: 390px;
	padding-top: 10px;
	font-size: 10px;
	list-style-type: none;
}
#contanctinfo a {
	padding-left: 20px;
}
#weiboicon {
	left: 60px;
	height: 130px;
	width: 90px;
	background-image: url(../img/footer/weibo-before.png);
	background-repeat: no-repeat;
	background-position: center;
}
#weiboicon:hover, #weiboicon:focus {
	background-image: url(../img/footer/weibo-after.png);
}
#tengxunicon {
	left: 60px;
	height: 130px;
	width: 90px;
	background-image: url(../img/footer/tengxun-before.png);
	background-repeat: no-repeat;
	background-position: center;
}
#tengxunicon:hover, #tengxunicon:focus {
	background-image: url(../img/footer/tengxun-after.png);
}
#kongjianicon {
	left: 60px;
	height: 130px;
	width: 90px;
	background-image: url(../img/footer/kongjian-before.png);
	background-repeat: no-repeat;
	background-position: center;
}
#kongjianicon:hover, #kongjianicon:focus {
	background-image: url(../img/footer/kongjian-after.png);
}
#weixinicon {
	left: 60px;
	height: 130px;
	width: 90px;
	background-image: url(../img/footer/weixin-before.png);
	background-repeat: no-repeat;
	background-position: center;
}
#weixinicon:hover, #weixinicon:focus {
	background-image: url(../img/footer/weixin-after.png);
}
