{% extends "base.html" %}

{% block content %}

<div class="chuangp-staticpage">
	<div class="container">
		<div id="itemtable" class="list-group">
		  <a id="company-introduction-item" class="list-group-item active">公司简介</a>
		  <a id="mentor-team-item" class="list-group-item">导师团队</a>
		  <a id="latest-dynamic-item" class="list-group-item">最新动态</a>
		  <a id="website-notice-item" class="list-group-item">网站公告</a>
		  <a id="hiring-item" class="list-group-item">招贤纳士</a>
		  <a id="contact-us-item" class="list-group-item">联系我们</a>
		  <a id="chuangplus-coffee-item" class="list-group-item">创加咖啡</a>
		  <a id="local-gov-item" class="list-group-item">地方政府</a>
		</div>

		<div id="company-introduction" class="itemcontent">
			<div class="heading2">创+：创加项目由清华大学发起，我们将借助公益性和商业性结合的投资方式，创建吸引社会主动参与的学生创业支持平台。</div>
			<div class="heading1">★&nbsp;&nbsp;&nbsp;创+成长</div>
			<div class="heading2" style="text-align: center;">公益商业基金相结合，保证社会资本回报</div>
			<div class="heading2" style="text-align: center;">线上平台拓展边界，建立便捷参与平台</div>
			<div class="heading2" style="text-align: center;">广泛地方政府参与，促进创业项目落地</div>
			<div class="heading1">★&nbsp;&nbsp;&nbsp;创+空间</div>
			<div class="heading2" style="text-align: center;">线下基地促进交流，建立可复制单元</div>
			<div class="heading2" style="text-align: center;">提供猎头、税务、法务等专业化线下服务</div>
		</div>

		<div id="mentor-team" class="itemcontent hide">
			<div style="height: 30px;"></div>
			<div class="content" style="word-wrap: break-word; word-break:break-all;">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet,&nbsp;consectetur&nbsp;adipiscing&nbsp;elit.&nbsp;Aenean&nbsp;euismod&nbsp;bibendum&nbsp;laoreet.&nbsp;Proin&nbsp;gravida&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;lacus&nbsp;accumsan&nbsp;et&nbsp;viverra&nbsp;justo&nbsp;commodo.&nbsp;Proin&nbsp;sodales&nbsp;pulvinar&nbsp;tempor.&nbsp;Cum&nbsp;sociis&nbsp;natoque&nbsp;penatibus&nbsp;et&nbsp;magnis&nbsp;dis&nbsp;parturient&nbsp;montes,&nbsp;nascetur&nbsp;ridiculus&nbsp;mus.&nbsp;Nam&nbsp;fermentum,&nbsp;nulla&nbsp;luctus&nbsp;pharetra&nbsp;vulputate,&nbsp;felis&nbsp;tellus&nbsp;mollis&nbsp;orci,&nbsp;sed&nbsp;rhoncus&nbsp;sapien&nbsp;nunc&nbsp;eget&nbsp;odio.</div>
		</div>

		<div id="latest-dynamic" class="itemcontent hide">
		</div>

		<div id="website-notice" class="itemcontent hide">
		</div>

		<div id="hiring" class="itemcontent hide">
			<div style="height: 30px;"></div>
			<div class="content">如果你也有志搭建青年创业平台，如果你也希望和我们共同成长，请联系我们！</div>
			<div class="content">请将简历发送至：</div>
			<div class="content">电话：15201520366&nbsp;宁先生</div>
			<div class="content">email：thuchuangjia@163.com</div>
		</div>

		<div id="contact-us" class="itemcontent hide">
			<div class="heading1">合作联系</div>
			<div class="content">电话：15201520366&nbsp;宁先生</div>
			<div class="content">email：thuchuangjia@163.com</div>
			<div class="content">客服电话：</div>
			<div class="content">办公地址：</div>
			<div class="content">清华科技园创新大厦D1层&nbsp;创加咖啡厅</div>
		</div>

		<div id="chuangplus-coffee" class="itemcontent hide">
			<div class="heading1">创+咖啡</div>
			<div class="content">创+咖啡厅是创加团队为创业者们提供的公益交流平台。在这里，每一张桌子都可以成为创业团队讨论、办公、活动的免费场所。</div>
			<div class="content">创+咖啡于2014年10月开始营业，现有面积108平，包含三间会议室，一个路演厅，一个活动空间。以下是创+咖啡厅的一些活动特色：</div>
			<div class="heading2">定期线下路演：</div>
			<div class="content">每周我们将会邀请创加网站上的优秀团队在咖啡厅进行线下路演，与投资人面对面交流。</div>
			<div class="heading2">读书分享会：</div>
			<div class="content">每周针对创加咖啡厅书架上的一些创业相关书籍，我们将会召开读书分享会，交流、分享心得感悟。</div>
			<div class="heading2">创业沙龙：</div>
			<div class="content">我们将会定期邀请创业人士、投资人开展创业讲座、沙龙等形式多样的活动，为创业者提供更多指导和帮助。</div>
		</div>

		<div id="local-gov" class="itemcontent hide">
			<div class="heading1">地方政府——为团队落地提供土壤</div>
			<div class="content">四家地方政府均将对创加平台上的优秀团队提供强有力的支持。</div>
			<div class="heading2">资金</div>
			<div class="content">对于有意愿到地方落地的创业团队，地方政府将会为之提供一定落地基金。</div>
			<div class="heading2">场地</div>
			<div class="content">对于落地当地的创业项目，地方政府将会为之提供免费场地。</div>
			<div class="heading2">优惠政策</div>
			<div class="content">落地之后，创业团还将获得税收减免、资源优先提供等等全方位的优惠政策。</div>
		</div>
	</div>
	<div style="height: 101px;"></div>
</div>

{% endblock %}
