{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" ng-app="chuangplus">
<head>
    <meta charset="utf-8">
	<title>创加 | 高校创业融资平台</title>
    {% block viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
	<meta name="keywords" content="创加 创+ 创业 融资 高校 投资 大学生 ">
	
	<!-- Loading jQuery -->
	<script src="{% static "js/jquery-1.11.2.min.js" %}"></script>

    <!-- Loading Bootstrap -->
    <link href="{% static "css/vendor/bootstrap.min.css" %}" rel="stylesheet">
	<script src="{% static "js/bootstrap/bootstrap.js" %}"></script>
	<script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
    {% block style_base %}
        <!--<link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">-->
        <!--<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">-->
        <!--<link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet">-->
        {% block extra_style %}{% endblock %}
    {% endblock %}

    <!-- Loading Flat UI -->
    <!--link href="{% static "css/flat-ui.min.css" %}" rel="stylesheet">
	
	<!-- Base stylesheet -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/index.css" %}" rel="stylesheet">
	
	<!-- FlexSlider pieces -->
	<link rel="stylesheet" href="{% static "css/flexslider.css" %}" type="text/css" media="screen" />
	<script src="{% static "js/jquery.flexslider-min.js" %}"></script>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	
	<!-- Header and footer -->
	<link href="{% static "css/header.css" %}" rel="stylesheet">
	<link href="{% static "css/footer.css" %}" rel="stylesheet">

	<!-- static pages -->
	<link href="{% static "css/staticpage.css" %}" rel="stylesheet">
	<script src="{% static "js/about.js" %}"></script>
	
	<!-- Hook up the FlexSlider -->
	<script type="text/javascript">
		$(window).load(function() {
			$('.flexslider').flexslider();
		});
	</script>

	<!-- base-fiancing.js-->
	<script src="{% static "js/project_financing.js" %}"></script>

    {% block html5shim %}
        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <!--<script src="{% static "pinax/js/html5shiv.js" %}"></script>-->
            <script src="{% static "js/vendor/html5shiv.js" %}"></script>
            <script src="{% static "js/vendor/respond.min.js" %}"></script>
        <![endif]-->
    {% endblock %}


    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">
    <div class="{% block wrapper_class %}{% endblock %}">

        {% block topbar_base %}
            <header>
                <div id="chuangp-header">
                    <nav id="headernavbar" class="navbar navbar-inverse navbar-fixed-top">
                        <div  id="headercontainer" class="container">
                        {% block topbar %}
                            <div class="navbar-header">
                                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="fa fa-bars"></span>
                                </button>
                                {% block site_brand %}
                                <div id="header-navbar-logo" class="navbar-logo">
                                    <a href="/"><img src="{% static "img/header/logo-purple.png" %}" /></a>
                                </div>
                                <div id="header-navbar-brand" class="navbar-brand">
                                    <a style="font-size: 15px;">创加与您携手创业</a>
                                    <a style="font-size: 11px;">CHUANGPLUS.COM</a>
                                </div>
                                {% endblock %}
                            </div>
                            <div class="collapse navbar-collapse navbar-responsive-collapse">
                                {% block nav %}
                                    {% include "header.html" %}
                                {% endblock %}
                                {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                            </div>
                        {% endblock %}
                        </div>
                    </nav>
                </div>
            </header>
        {% endblock %}

        {% block body_base %}
            <section id="content_body">
                <div id="content">
                    {% include "_messages.html" %}
                    {% block body %}
                    {% endblock %}
                    {% block content %}
                    {% endblock %}
                </div>
            </section>
        {% endblock %}

        {% block footer_base %}
            <hr />
            <footer>
                <div class="container">
                    {% block footer %}
                        {% include "footer.html" %}
                    {% endblock %}
                </div>
            </footer>
        {% endblock %}
    </div>

    {% block script_base %}
        <script src="{% block jquery_src %}{% static "jquery/js/jquery-2.1.1.min.js" %}{% endblock %}"></script>
        <script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
        <script src="{% static "pinax/js/theme.js" %}"></script>
        {% block extra_script %}{% endblock %}
    {% endblock %}

    {% block extra_body_base %}
        {% block extra_body %}{% endblock %}
    {% endblock %}
</body>

</html>