{% extends "base.html" %}

{% block content %}

<!-- css && js -->
	<link href="../static/css/base_financing.css" rel="stylesheet">
<!-- end -->

<!---->
    <div id="content-financing">
    	<div id="introduction">
    		<div id="vertical-line"></div>
    		<p class="t1">喜欢的项目没有获得足够邀请数，如何线下对接？</p>
    		<div id="horizontal-line"></div>
    		<p class="t3">您如果对喜欢的项目发出了邀请，我们就会将团队负责人的联系方式公开给您。您可以自行邀约项目进行线下路演</p>
    	</div>
    	<div id="icons">
    	</div>
    	<div id="options">
    		<div id="opt0" align="center">
    			<div class="opt-pos0"></div>
    			<p class="t3 opt-text">筛选项目</p>
    			<div class="opt-pos0"></div>
    		</div>
    		<div id="opt1" class="opt">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">全部</p>
    			<div class="opt-pos"></div>
    		</div>
    		<div id="opt2" class="opt">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">领域</p>
    			<img src="" class="opt-img">
    			<div class="opt-pos"></div>
    		</div>
    		<div id="opt3" class="opt">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">类型</p>
    			<img src="" class="opt-img">
    			<div class="opt-pos"></div>
    		</div>
    		<div id="opt4" class="opt">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">融资情况</p>
    			<img src="" class="opt-img">
    			<div class="opt-pos"></div>
    		</div>
    		<div id="reset" class="opt">
    			<div class="opt-pos"></div>
    			<img src="" class="opt-img">
    			<div class="opt-pos"></div>
    		</div>
    	</div>
    </div>
<!---->
<!---->
  	<div class="w1">
    	<div class="w10">
    		当前路演
    	</div>
    	<div class="w11">
    	</div>
    	<div class="w12">
      		<div class="w121">
      			我是一个项目
      		</div>
	      	<div class="w122">
	        	<div class="w1220">
	          		<div class="w12201">
	          			<img src="img/chuangshiren.png">
	          		</div>
	          		<div class="w12202">
	          			Adrian CEO
	          		</div>
	        	</div>
	        	<div class="w1220">
	          		<div class="w12201">
	          			<img src="img/rongziqingkuang.png">
	          		</div>
	          		<div class="w12202">
	          			天使轮
	          		</div>
	        	</div>
	        	<div class="clearfix">
	        	</div>
	      	</div>
	      	<div class="w123">
	      		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoret. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fer-meneitum, nulla luctus phearetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
	      	</div>
	      	<div class="w124">
	        	<div class="w1240">
	        		游戏
	        	</div>
	        	<div class="w1240">
	        		社交
	        	</div>
	        	<div class="w1240" style="margin:0">
	        		虚拟现实
	        	</div>
	        	<div class="clearfix">
	        	</div>
      		</div>
    	</div>
	    <div class="w13 purplebg">
	    	<img src="img/seemore.png">
	    </div>
	    <div class="clearfix">
	    </div>
  	</div>
  	<div class="blank">
  	</div>
<!---->

{% endblock %}