{% extends "base.html" %}

{% block content %}

<!-- css -->
	<link href="../static/css/base_financing.css" rel="stylesheet">
<!-- end -->

<!-- 图片轮播部分 -->
    <div id="content-financing">
    	<div id="introduction">
    		<div id="vertical-line"></div>
    		<p class="t1 title1">什么是关注项目？</p>
    		<div id="horizontal-line"></div>
    		<p class="t3 title2">创+会把您关注的项目放到个人页面您关注的项目内，这样您就可以持续获得您关注的项目的最新信息。</p>
    	</div>
    	<div id="icons">
			<img id="banner1" class="banner" src="../static/img/base-financing/bannerleftafter.png">
			<img id="banner2" class="banner" src="../static/img/base-financing/bannerrightafter.png">
    	</div>
    	<div id="options">
    		<div id="opt0" align="center">
    			<div class="opt-pos0"></div>
    			<p class="t3 opt-text">筛选项目</p>
    			<div class="opt-pos0"></div>
    		</div>
    		<div id="opt1" class="opt">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">全部</p>
    			<div class="opt-pos"></div>
    		</div>
			<div id="opt2" class="opt">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">领域</p>
    			<div class="opt-pos"></div>
    		</div>
    		<div id="opt3" class="opt">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">地区</p>
    			<img src="" class="opt-img">
    			<div class="opt-pos"></div>
    		</div>
    		<div id="opt4" class="opt">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">类型</p>
    			<img src="" class="opt-img">
    			<div class="opt-pos"></div>
    		</div>
    		<div id="opt5" class="opt">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">融资情况</p>
    			<img src="" class="opt-img">
    			<div class="opt-pos"></div>
    		</div>
    		<div id="reset" class="opt">
    			<div class="opt-pos"></div>
    			<img src="" class="opt-img">
    			<div class="opt-pos"></div>
    		</div>
    	</div>
    </div>

<!-- 项目展示部分 -->
	{% for p in projects_past %}
  		<div class="w1">
    	<div class="w10">
    		当前路演
    	</div>
    	<div class="w11">
    	</div>
    	<div class="w12">
      		<div class="w121">
      			{{ p.name }}
      		</div>
	      	<div class="w122">
	        	<div class="w1220">
	          		<div class="w12201">
	          			<img src="../static/img/base-financing/chuangshiren.png">
	          		</div>
	          		<div class="w12202">
	          			Adrian CEO
	          		</div>
	        	</div>
	        	<div class="w1220">
	          		<div class="w12201">
	          			<img src="../static/img/base-financing/rongziqingkuang.png">
	          		</div>
	          		<div class="w12202">
	          			天使轮
	          		</div>
	        	</div>
	        	<div class="clearfix">
	        	</div>
	      	</div>
	      	<div class="w123">
	      		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoret. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fer-meneitum, nulla luctus phearetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
	      	</div>
	      	<div class="w124">
	        	<div class="w1240">
	        		游戏
	        	</div>
	        	<div class="w1240">
	        		社交
	        	</div>
	        	<div class="w1240" style="margin:0">
	        		虚拟现实
	        	</div>
	        	<div class="clearfix">
	        	</div>
      		</div>
    	</div>
	    <div class="w13 purplebg">
	    	<img src="../static/img/base-financing/seemore.png">
	    </div>
	    <div class="clearfix">
	    </div>
  	</div>
		<div class="blank">
		</div>
	{% endfor %}

<!-- 分页控件部分 -->
  <div class="w2">
	  <div class="w21">
		  <img src="../static/img/base-financing/pagesleft.png">
	  </div>
	  <div class="w22">
		  <div class="w220">
			  1
		  </div>
		  <div class="w220">
			  …
		  </div>
		  <div class="w220">
			  24
		  </div>
		  <div class="w220 purplebdbt">
			  25
		  </div>
		  <div class="w220">
			  26
		  </div>
		  <div class="w220">
			  …
		  </div>
		  <div class="w220">
			  79
		  </div>
	  </div>
	  <div class="w21">
		  <img src="../static/img/base-financing/pagesright.png">
	  </div>
  </div>
  <div class="clearfix">
  </div>

<!-- js -->
	<script src="../static/js/base_financing.js"></script>
<!-- end -->

<!---->

{% endblock %}