{% extends "base.html" %}

{% block content %}
<div id="chuangp-policy">
	<div id="purple"></div>
	<div class="container">
		<div id="label">
			<a style="color: #777777">首页</a>
			<a style="color: #777777">></a>
			<a style="color: #8e5a96">社区规范</a>
		</div>
<div class="heading1">社区规范</div>
<div class="content">本着有效、有序管理创加平台，现制定以下规则：</div>
<div class="heading2">一、基本规则</div>
<div class="content">创加平台鼓励真实的交流行为，请于注册后两日内更换成真实姓名和头像，非真实头像和姓名的用户账号不受保护。创加平台不欢迎广告、骚扰等行为，拒绝不健康和非法信息。<div class="content">
 
<div class="heading2">二、细则</div>
<div class="content">1、根据《中华人民共和国宪法》和相关法律法规规定，在保护公民合法言论自由的同时，禁止利用互联网、通讯工具、媒体以及其他方式从事以下行为：</div>
<div class="content">（1）组织、煽动抗拒、破坏宪法和法律、法规实施的。</div>
<div class="content">（2）捏造或者歪曲事实，散布谣言，妨害社会管理秩序的。</div>
<div class="content">（3）组织、煽动非法集会、游行、示威、扰乱公共场所秩序的。</div>
<div class="content">（4）从事其他侵犯国家、社会、集体利益和公民合法权益的。</div>
<div class="content">管理部门将依法严加监管上述行为并予以处理；对构成犯罪的，司法机关将追究刑事责任。</div>
<div class="content">2、创加平台不欢迎以下内容：</div>
<div class="content">（1）淫秽色情、赌博、毒品贩卖、违禁药品贩卖、枪支售卖、人体器官买卖、制假售假等违法违规信息；</div>
<div class="content">（2）出售个人信息、妨害个人通信、网络雇凶或其他扰乱社会秩序及危害社会安全的行为；</div>
<div class="content">（3）非法公关等违反行业准则的行为；</div>
<div class="content">（4）谩骂、污言秽语和人身攻击；</div>
<div class="content">（5）广告、骚扰信息，日志、话题等内容中严禁夹带联系方式；</div>
<div class="content">（6）不允许以seo为目的发表夹带外链的内容；</div>
<div class="content">（7）有违社会道德的行为和内容；</div>
<div class="content">（8）涉及政治或者重要政治人物的信息；</div>
<div class="content">（9）涉及宗教信仰、非法组织等的敏感信息。</div>
<div class="content">对于不受欢迎、色情、政治、宗教等内容，管理员有权删除内容、锁定账号，情节严重者管理员有删除账号的权利。</div>
<div class="content">对于广告内容和骚扰行为，管理员有权删除内容、消除影响。情节严重者，管理员有权锁定账号甚至删除账号。</div>
<div class="content">3、 创加头像、实名认证：</div>
<div class="content">头像认证：用户本人的单人照片。</div>
<div class="content">个人账号可使用二维码图片作为头像，但不得使用历届国家领导人或其他敏感图片作为头像。机构账号可使用公司logo作为头像。两者均不得出现电话等宣传信息。</div>
<div class="content">实名认证：真实中文或英文姓名。机构账号推荐使用机构全称，或已被接受的简称。两者均不得出现特殊字符。</div>
	</div>
	<div style="height: 101px;"></div>
	<div id="endoftext"></div>
</div>

{% endblock %}
