{% extends "base.html" %}

{% block content %}

<div class="chuangp-staticpage">
	<div id="purple"></div>
	<div class="container">
<div class="heading1">清华大学创+创业空间服务及保密协议</div>
<div class="heading2">总则：</div>
<div class="content">创+创业空间（以下简称“创+”）是北京创普拉斯科技文化有限公司在清华大学校团委授权监管下运营的实体创业空间，位于清华科技园D座B103，以为校园创业者提供创业全过程资源对接为宗旨，加速校园创业项目的良性发展。为帮助目的有序发展，双方本着诚信互利的原则签署以下条款。</div>

<div class="heading2">第一条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;责任归属</div>
<div class="content">本协议由乙方与项目负责人针对特定项目签署，责权范围仅限于在该自然人负责的特定创业项目。</div>
 
<div class="heading2">第二条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对外形象</div>
<div class="content">允许甲乙双方在对外宣传电子文档、实体宣传品上使用对方标示。但乙方仅将甲方作为入孵项目，甲方仅将乙方作为服务单位之一，不具备排他性。</div>
 
<div class="heading2">第三条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提供的服务</div>
<div class="content">本协议签署、甲方成功在乙方线上平台注册入驻后，乙方将视情况无偿为甲方提供以下服务：</div>
<div class="heading3">3.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;融资服务</div>
<div class="heading4">3.1.1&nbsp;&nbsp;&nbsp;服务方式：</div>
<div class="content">a)&nbsp;线上路演：本协议签署、甲方成功在乙方线上平台注册入驻后，甲方可以在项目推进过程中随时提出线上路演需求。在甲方达到乙方要求后（具体要求参照《创+平台线上路演管理办法》），可以获得乙方无偿提供的线上路演服务；</div>
<div class="content">b)&nbsp;线下路演：本协议签署、甲方成功在乙方线上平台注册入驻后，在甲方达到乙方要求后（具体要求参照《创+平台线下路演管理办法》），可以获得乙方无偿提供的线下路演服务。</div>
<div class="heading4">3.1.2&nbsp;&nbsp;&nbsp;服务报酬：在相应服务期限内，该融资服务系免费提供；乙方全程享有对该服务内容进行独家报道权利，甲方需要向乙方反馈真实的融资结果等信息。</div>
<div class="heading4">3.1.3&nbsp;&nbsp;&nbsp;补充说明：在相应服务期限内，乙方需尽力尽职为甲方提供服务，努力但不保证使服务能达到双方预期效果；乙方仅作为信息提供渠道，甲方与投资方之间产生的所有法律或经济责任均与乙方无关。</div>
<div class="heading3">3.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;招募合伙人服务</div>
<div class="heading4">3.2.1&nbsp;&nbsp;&nbsp;服务方式：</div>
<div class="content">a)&nbsp;发布招募启事：本协议签署、甲方成功在乙方线上平台注册入驻后，乙方无偿为甲方提供招募合伙人的线上平台。甲方可以在项目推进过程中随时在线上发布相关招募启事。甲方在发布相关招募启事的同时，需要提交合伙人、员工招募需求,包括公司背景与工作环境，岗位职责及要求个人具备的条件，工作福利待遇等信息，并保证信息的正确性；</div>
<div class="heading4">3.2.2&nbsp;&nbsp;&nbsp;服务报酬：在相应服务期限内，该寻找合伙人服务系免费提供；乙方全程享有对该服务内容进行独家报道权利，甲方需要向乙方反馈真实的招募结果等信息。</div>
<div class="heading4">3.2.3&nbsp;&nbsp;&nbsp;补充说明：乙方仅作为信息提供渠道，甲方与投资方之间产生的所有法律或经济责任均与乙方无关。</div>
<div class="heading3">3.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;导师团服务</div>
<div class="heading4">3.3.1&nbsp;&nbsp;&nbsp;服务方式：</div>
<div class="content">a)&nbsp;需求调研：本协议签署、甲方成功在乙方线上平台注册入驻后的1个月内，乙方将主动约见甲方，进行导师团服务需求调研，甲方须协助乙方完成该调研。甲方在项目推进的过程中，可以随时申请导师团服务。甲方在提出申请的同时，应以文字形式提交本次的导师需求；</div>
<div class="content">b)&nbsp;导师对接：乙方将在得到甲方需求信息的7个工作日内，根据甲方需求在本方数据库中调取相关信息，搜索可能满足甲方需求的导师，并确证其资料的真实性。若无合适导师，乙方需告知甲方原因。如甲方确认导师，乙方负责安排甲方与导师第一次见面，并签署相关协议；</div>
<div class="content">c)&nbsp;培训场地：如甲方有场地需求，可以向乙方提出场地申请，乙方无偿为甲方提供导师培训场地。</div>
<div class="heading4">3.3.2&nbsp;&nbsp;&nbsp;服务报酬：乙方作为甲方和导师团之间的信息渠道，不收取任何费用；甲方与导师之间的利益报酬，由双方协商。乙方全程享有对该服务内容进行独家报道权利，甲方需要向乙方反馈真实的培训感受等信息。</div>
<div class="heading4">3.3.3&nbsp;&nbsp;&nbsp;补充说明：乙方仅作为信息提供渠道，甲方与导师之间产生的所有法律或经济责任均与乙方无关。乙方尽心尽职为甲方寻找符合甲方要求的导师，努力但不保证使每一位导师的辅导水平达到甲方预期效果。</div>
<div class="heading3">3.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;线下活动服务</div>
<div class="heading4">3.4.1&nbsp;&nbsp;&nbsp;服务方式：</div>
<div class="content">a)&nbsp;本协议签署后，甲方加自动加入创+平台，乙方通过交流会等形式为甲方提供线下活动服务，甲方也将拥有创+空间的场地使用资格。</div>
<div class="content">b)&nbsp;乙方将不定期主办或承办交流会、沙龙、项目见面会和路演等活动，会提前3-5个工作日向甲方推送相关信息，邀请甲方参加活动；甲方有义务在相关活动上分享经验，并辅导遇到困难的、入驻本平台的其他团队。甲方不得连续三次拒绝经验交流会的邀请；</div>
<div class="content">c)&nbsp;场地使用服务：乙方可为甲方提供创+空间的场地使用权，甲方可预约场地进行项目讨论、展示和交流等活动，若甲方需借用乙方场地举办线下活动，须提前与乙方预约，说明活动性质、内容、时间与人数，提前5个工作日进行预约。场地使用应以不影响其他创业团队正常使用相邻空间为前提。</div>
<div class="heading4">3.4.2&nbsp;&nbsp;&nbsp;服务报酬：在相应服务期限内，该服务系免费提供；乙方全程享有对该服务内容进行独家报道权利。</div>
 
<div class="heading2">第四条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保密协议</div>
<div class="heading3">4.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;双方义务</div>
<div class="heading4">4.1.1&nbsp;&nbsp;&nbsp;甲方有义务向乙方提供完成服务所需要的涉及甲方经营和财务等重要信息和真实数据。</div>
<div class="heading4">4.1.2&nbsp;&nbsp;&nbsp;甲方应保证乙方就本项委托有条件接触甲方的相关人员，包括但不限于董事、雇员及顾问等。</div>
<div class="heading4">4.1.3&nbsp;&nbsp;&nbsp;乙方只依据甲方及其代表提供的信息进行服务，不负独立调查和核实信息的责任。由于信息有误产生的所有法律或经济责任均与乙方无关。</div>
<div class="heading3">4.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保密条款</div>
<div class="heading4">4.2.1&nbsp;&nbsp;&nbsp;在服务期限内，自双方协议生效起，乙方有义务为甲方保守由甲方指定的商务、财务、技术、产品的信息、用户资料等商业机密，未经信息披露方书面事先同意，不得向本协议以外的任何第三方披露。</div>
<div class="heading4">4.2.2&nbsp;&nbsp;&nbsp;除非得到另一方的书面许可，甲乙双方均不得将本合同中的内容及在本合同执行过程中获得的对方的商业信息向任何第三方泄露。</div>
<div class="heading4">4.2.3&nbsp;&nbsp;&nbsp;本保密义务应在本协议期满、解除或终止后仍然有效。</div>
 
<div class="heading2">第五条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;服务体现形式</div>
<div class="content">服务期限：本协议签署后至甲方项目完成入驻后首轮融资之前，乙方将视情况无偿为甲方提供以上所述的所有服务。</div>
<div class="content">针对以上提及服务中的任何一项，每次乙方为甲方提供服务后，甲方应填写一次“创业服务备忘录”登记表，以证明此次服务的结束。</div>
 
<div class="heading2">第六条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;合同有效性</div>
<div class="content">除非在本合同生效后甲方和乙方以书面的形式签订补充合同，否则本合同所载条款不能更改；本合同传真件同原件具有同等法律效力。</div>
	</div>
	<div style="height: 50px;"></div>
	<div id="agree"><button id="agreebtn" type="button" class="btn btn-lg btn-primary">我同意此保密协议并申请融资<br>下一步</button></div>
	<div style="height: 101px;"></div>
	<div id="endoftext"></div>
</div>

{% endblock %}
