{% extends "base.html" %}

{% block content %}

<div class="chuangp-staticpage">
	<div class="container">
		<div class="heading1">用户反馈</div>
		<div class="heading2">反馈内容</div>
		<div class="input-group" style="width: 100%;">
		  <input type="text" class="form-control" style="height: 126px;">
		</div>
		<div class="heading2">你的邮箱</div>
		<div class="input-group" style="width: 100%;">
		  <input type="text" class="form-control">
		</div>
	</div>
	<div style="height: 50px;"></div>
	<div id="submit"><button id="submitbtn" type="button" class="btn btn-lg btn-primary">提交</button></div>
	<div style="height: 101px;"></div>
</div>

{% endblock %}
