{% load staticfiles %}
{% load url from future %}

<div id="chuangp-footer">
    <footer id="footer1" class="footer">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul id="contactshare-nav" class="nav navbar-nav">
              <li><a style="font-size: 18px;">联系有益</a></li>
              <li><a style="font-size: 16px;" href="/about/?item=6">Contact</a></li>
              <li id="line"></li>
              <li><a style="font-size: 18px; margin-left: 40px;">分享快乐</a></li>
              <li><a style="font-size: 16px;" class="english">Share</a></li>
          </ul>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" style="height: 130px; margin-top: -124px;">
              <li id="erweima"><a>扫描并关注微信公众号</a></li>
              <li>
                <ul id="contanctinfo">
                  <li style="padding-left: 2.5px;"><img src="{% static "img/footer/call.png" %}"><a>+86&nbsp;152-0152-0366</a></li>
                  <li><img src="{% static "img/footer/mail.png" %}"><a>support@chuangplus.com</a></li>
                  <li style="padding-left: 3px;"><img src="{% static "img/footer/address.png" %}"><a>北京市海淀区清华科技园科技大厦D座B103.10084</a></li>
                </ul>
              </li>
              <li id="weixinicon"></li>
              <li id="weiboicon"></li>
              <li id="tengxunicon"></li>
              <li id="kongjianicon"></li>
          </ul>
        </div>
      </div>
    </footer>
    <footer id="footer2" class="footer">
      <div class="container">
        <div class="navbar-footer">
      <div id="footer-navbar-logo" class="navbar-logo">
			  <img src="{% static "img/footer/logo-white.png" %}">
			</div>
        </div>
        <div class="navbar-collapse collapse">
          <ul id="footer-nav" class="nav navbar-nav">
            <li><a href="/about">关于我们</a></li>
            <li><a>|</a></li>
            <li><a href="/policy">隐私条款</a></li>
            <li><a>|</a></li>
            <li><a href="/community">社区规范</a></li>
            <li><a>|</a></li>
            <li><a href="/feedback">用户反馈</a></li>
            <li><a>|</a></li>
            <li><a href="/about/?item=5">加入我们</a></li>
            <li><a>|</a></li>
            <li><a href="#">网站地图</a></li>
          </ul>
	        <div id="footer-brand" class="navbar-footer">
      <div id="footer-navbar-brand" class="navbar-brand">
				  <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright&copy;2015清华创加</br>ICP备案12940683|京公安备案10387502号</a>
				</div>
	        </div>
        </div><!--/.nav-collapse -->
      </div>
    </footer>
</div>
