
<!DOCTYPE html>
<html lang="en" ng-app="chuangplus">
<head>
    <meta charset="utf-8">
	<title>创加 | 高校创业融资平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="创加 创+ 创业 融资 高校 投资 大学生 ">

	<!-- Loading jQuery -->
	<script src="../static/js/jquery-1.11.2.min.js"></script>

    <!-- Loading Bootstrap -->
    <link href="../static/css/vendor/bootstrap.min.css" rel="stylesheet">
	<script src="../static/js/bootstrap/bootstrap.js"></script>
	<script src="../static/js/bootstrap/bootstrap.min.js"></script>

    <!-- Loading Flat UI -->
    <link href="../static/css/flat-ui.min.css" rel="stylesheet">
	
	<!-- FlexSlider pieces -->
	<link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="screen" />
	<script src="../static/js/jquery.flexslider-min.js"></script>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

	
	<!-- Hook up the FlexSlider -->
	<script type="text/javascript">
		$(window).load(function() {
			$('.flexslider').flexslider();
		});
	</script>

	<!-- base-fiancing.js-->
	<script src="../static/js/base_financing.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<link href="../static/css/footer.css" rel="stylesheet">
<div id="chuangp-footer">
    <footer id="footer1" class="footer">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul id="contactshare-nav" class="nav navbar-nav">
              <li><a style="font-size: 18px;">联系有益</a></li>
              <li><a style="font-size: 16px;">Contact</a></li>
              <li id="line"></li>
              <li><a style="font-size: 18px; margin-left: 40px;">分享快乐</a></li>
              <li><a style="font-size: 16px;" class="english">Share</a></li>
          </ul>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" style="height: 130px; margin-top: -124px;">
              <li id="erweima"><a>扫描并关注微信公众号</a></li>
              <li>
                <ul id="contanctinfo">
                  <li style="padding-left: 2.5px;"><img src="../static/img/footer/call.png"><a>+86&nbsp;152-0152-0366</a></li>
                  <li><img src="../static/img/footer/mail.png"><a>support@chuangplus.com</a></li>
                  <li style="padding-left: 3px;"><img src="../static/img/footer/address.png"><a>北京市海淀区清华科技园科技大厦D座B103.10084</a></li>
                </ul>
              </li>
              <li id="weiboicon"></li>
              <li id="tengxunicon"></li>
              <li id="kongjianicon"></li>
              <li id="weixinicon"></li>
          </ul>
        </div>
      </div>
    </footer>
    <footer id="footer2" class="footer">
      <div class="container">
        <div class="navbar-footer">
			<div class="navbar-logo">
			  <img src="../static/img/footer/logo-white.png">
			</div>
        </div>
        <div class="navbar-collapse collapse">
          <ul id="footer-nav" class="nav navbar-nav">
            <li><a href="#">关于我们</a></li>
            <li><a>|</a></li>
            <li><a href="#">隐私条款</a></li>
            <li><a>|</a></li>
            <li><a href="#">社区规范</a></li>
            <li><a>|</a></li>
            <li><a href="#">用户反馈</a></li>
            <li><a>|</a></li>
            <li><a href="#">加入我们</a></li>
            <li><a>|</a></li>
            <li><a href="#">网站地图</a></li>
          </ul>
	        <div id="footer-brand" class="navbar-footer">
				<div class="navbar-brand">
				  <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright&copy;2015清华创加</br>ICP备案12940683|京公安备案10387502号</a>
				</div>
	        </div>
        </div><!--/.nav-collapse -->
      </div>
    </footer>
</div>
</body>
