<link href="../static/css/header.css" rel="stylesheet">
<div id="chuangp-header">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div id="headercontainer" class="container">
        <div class="navbar-header">
			<div class="navbar-logo">
			  <a href="index.html"><img src="../static/img/header/logo-purple.png"></a>
			</div>
			<div class="navbar-brand">
			  <a style="font-size: 15px;">创加与您携手创业</a>
			  <a style="font-size: 11px;">CHUANGPLUS.COM</a>
			</div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">首页</a></li>
            <li><a href="base_financing.html">正在融资</a></li>
            <li><a href="#">项目库</a></li>
            <li><a></a></li>
            <li><a href="#">注册</a></li>
            <li><a href="#">登录</a></li>
			<li>
			  <form class="navbar-form" role="search">
			    <div class="form-group">
			    	<input type="text" class="form-control">
			    </div>
			  </form>
			</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</div>
