{% extends "base.html" %}

{% block content %}

<!-- Content of index -->

<div id="container">	
	<!--=============================
	Markup for FADE animation
	=================================-->
	<div class="flexslider">
	<ul class="slides">
		<li>
			<img src="{{ image.image_path}}" />
		</li>
		<li>
			<a href="#">
			<img src="{{ image.image_path}}" />
			</a>
		</li>
		<li>
			<img src="{{ image.image_path}}" />
		</li>
	</ul>
  </div>
  
  <!-- Tab-page -->
  <div class="">
	
  </div>
  
</div>

<!-- End of index -->

{% endblock %}
