{% extends "base.html" %}

{% block content %}

<!-- Content of index -->

<div id="container">	
	<!--=============================
	Markup for FADE animation
	=================================-->
	<div class="flexslider">
	<ul class="slides">
		<li>
			<img src="../static/img/index-slider/banner1.jpg" />
		</li>
		<li>
			<a href="#">
			<img src="../static/img/index-slider/banner2.jpg" />
			</a>
		</li>
		<li>
			<img src="../static/img/index-slider/banner3.jpg" />
		</li>
	</ul>
  </div>
</div>

<!-- End of index -->

{% endblock %}
