{% extends "base.html" %}

{% block content %}

<link href="../static/css/index.css" rel="stylesheet">
<!-- Content of index -->

<div id="container">	
	<!--=============================
	Markup for FADE animation
	=================================-->
	<div class="flexslider">
	<ul class="slides">
	{% for img in imgs %}
		<li>
			<a href={{ img.link }}>
			<img src={{ img.image_path }} />
			</a>
		</li>
	{% endfor %}
	</ul>
	</div>
	
  <!-- Chuangyezhe-page -->
  <div class="tab-bar">
	<div class="width-limited">
	<a href="/"><div class="tab tab-active">我是创业者</div></a>
	<a href="/inv"><div class="tab">我是投资人</div>
	<img class="xiaojiao" src="static/img/index/jiao.png"></a>
	</div>
  </div>
  
  <div class="banner">
  <div class="width-limited">
	<div class="cyz-icon"><a href="#">
	  <img src="static/img/index/button-guanli.png">
	  <h3>管理我的项目</h3>
	</a></div>
	<div class="cyz-icon"><a href="#">
	  <img src="static/img/index/button-rongzi.png">
	  <h3>我要融资</h3>
	</a></div>
  </div>
  </div>
  
  <div class="dashiji">
  </div>
  <div class="banner" style="background:url(../static/img/index/rongziliucheng.png) center center no-repeat;">
  </div>
  <div class="banner" style="background:url(../static/img/index/chuangjiacafe.png) center center no-repeat;">
  </div>
  <div class="banner" style="background:url(../static/img/index/difangzhengfu.png) center center no-repeat;">
  </div>
  <div class="hzdw" >
  <div class="width-limited">
	<h1>合作单位</h1>
	<img src="../static/img/index/hezuo.png" >
  </div>
  </div>
</div>

<!-- End of index -->

{% endblock %}
