<link href="../static/css/staticpage.css" rel="stylesheet">
<div class="chuangp-staticpage">
	<div id="purple"></div>
	<div class="container">
		<div id="label">
			<a style="color: #777777">首页</a>
			<a style="color: #777777">></a>
			<a style="color: #8e5a96">隐私条款</a>
		</div>
<div id="heading1">隐私条款</div>
<div id="heading2">一、本网站尽一切合理的努力，保护您的隐私信息不被泄露给无关的第三方，保守您的秘密。如果您有任何疑问，请联系客服。</div>

<div id="heading2">二、您可随时访问在注册时被要求填写的信息，随时修改这些信息，包括信息的公开或保密状态。</div>

<div id="heading2">三、隐私信息包括：</div>
<div id="content">1、您的住址；</div>
<div id="content">2、您的联系方式；</div>
<div id="content">3、您的账号、密码；</div>
<div id="content">4、您不希望公开的其他信息。</div>
 
<div id="heading2">四、下列信息不属于隐私信息：</div>
<div id="content">1、您发布的项目信息；</div>
<div id="content">2、您希望公开的其他信息；</div>
<div id="content">3、您在本网站上进行登录、操作等活动过程中本网站记录的相关信息；</div>
<div id="content">4、为了其他用户的利益必须公开的其他信息。</div>
 
<div id="heading2">五、下列情况下，本网站有权公布或向第三人披露您的有关信息：</div>
<div id="content">1、您以明确的方式授权；</div>
<div id="content">2、法律法规要求；</div>
<div id="content">3、仲裁机构的裁决的要求；</div>
<div id="content">4、司法机关的判决、裁定、协助执行通知书或者其他法律文件要求；</div>
<div id="content">5、行政机关要求；</div>
<div id="content">6、您违反了使用条款的规定或者有其他损害北京飞度网络科技有限公司权益的行为；</div>
<div id="content">7、向您提供您需要的信息，必须公布或向第三人披露您的有关信息；</div>
<div id="content">8、为了您的利益而必须公布或向第三人披露您的有关信息的其他情形。</div>
 
<div id="heading2">六、下列情况视为您“以明确的方式授权”本网站向第三人披露您的有关信息：</div>
<div id="content">1、在本网站交换名片；</div>
<div id="content">2、在本网站对其他项目信息进行了回应；</div>
<div id="content">3、在本网站发布信息；</div>
<div id="content">4、在本网站填写信息时，勾选了“公开”或者其他类似的选项；</div>
<div id="content">5、您以信函、电子邮件或传真等有形的方式授权；</div>
<div id="content">6、在必要情况下您以口头授权，后以信函、电子邮件或传真等有形的方式确认此项授权；或者本网站得到您的口头授权后，以信函、电子邮件或传真等有形的方式向您确认是否授权，授权披露信息的范围、内容等，您在半小时以内未予答复，默认了此项授权。</div>
<div id="content">7、其他明确的方式。</div>
 
<div id="heading2">七、下列情形导致您的隐私信息被泄露，本网站不承担任何责任：</div>
<div id="content">1、不可抗力；</div>
<div id="content">2、意外事件；</div>
<div id="content">3、本网站采取了合理的防护措施而遭到黑客攻击、电脑病毒侵入；</div>
<div id="content">4、您未能妥善保管您的隐私信息；</div>
<div id="content">5、您主动向第三人透露您的隐私信息；</div>
<div id="content">6、其他不可归责于本网站的原因。</div>
	</div>
	<div style="height: 101px;"></div>
	<div id="endoftext"></div>
</div>
