{% extends "base.html" %}

{% block content %}

<div id="content-projectdetail">
	<div class="tab-bar">
		<div class="width-limited">
		<div id="roadshowlabel" class="tab2">项目路演</div>
		<div id="textlabel" class="tab2 tab-active">项目文本</div>
		<img id="xiaojiao1" class="hide" src="../static/img/projectdetail/jiao.png">
		<img id="xiaojiao2" src="../static/img/projectdetail/jiao.png">
		</div>
	</div>

	<div id="textpanel">
	<div class="container" style="width: 1230px;">
		<div id="staticinfo1">
			<a id="projectname">我是一个项目而且这是我的名字</a>
			<div id="fieldlabel">
				<span class="label label-default">游戏</span>
				<span class="label label-default">社交</span>
			</div>
			<div id="watchproject">
				<img src="../static/img/projectdetail/guanzhuicon.png">
				<a style="padding-left: 10px;">127</a><a>人关注</a>
			</div>
		</div>
	</div>
	<div id="staticinfo2">
		<div class="container" style="height: 418px; width: 1230px;">
			<img id="projectlogo">
			<table id="staticinfo2item">
				<tr><td class="itemtitle">项目理念</td><td class="itemdetail">我的目标是没有蛀牙，我的目标是没有蛀牙，我的目标是没有蛀牙</td></tr>
				<tr><td class="itemtitle">项目总览</td><td class="itemdetail">一个开放的O2O服务整合平台，上游整合美食、团购、打车、酒店机票、家政服务等O2O服务，打通账号，统一订单管理。下游跟联想、酷派中兴金立、天语等一线手机厂商合作，集成到系统，让用户买到手机就买到O2O服务，同时还开放SDK给如高德地图、凤凰新闻、有信这样的超级APP，为这些超级APP的流量找到除游戏、广告之外的第三个变现出口。现在总用户超过一千万，在总用户超过一千万刚完成A轮1000万美金融资。让用户买到手机就买到O2O服务，同时还开放SDK给如高德地图、凤凰新闻、有信这样的超级APP。</td></tr>
				<tr><td class="itemtitle">相关链接</td><td class="itemdetail">http://www.woyaomaishuiguo.com</td></tr>
				<tr><td class="itemtitle">融资情况</td><td class="itemdetail" style="padding-bottom: 0;">天使轮</td></tr>
			</table>
			<table class="staticinfo2icon">
				<tr><td><img src="../static/img/projectdetail/addguanzhu.png"></td></tr>
				<tr><td><img src="../static/img/projectdetail/addinvite.png"></td></tr>
				<tr><td><img src="../static/img/projectdetail/tocontact.png"></td></tr>
			</table>
		</div>
	</div>
	<div id="labelinfo">
		<div class="container">
			<div role="tabpanel" data-example-id="togglable-tabs">
			  <ul id="myTab" class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#teamIntro" id="teamIntro-tab" role="tab" data-toggle="tab" aria-controls="teamIntro" aria-expanded="true">团队介绍</a></li>
			    <li role="presentation"><a href="#productIntro" id="productIntro-tab" role="tab" data-toggle="tab" aria-controls="productIntro">产品介绍</a></li>
			    <li role="presentation"><a href="#horizontalAnaly" id="horizontalAnaly-tab" role="tab" data-toggle="tab" aria-controls="horizontalAnaly">同行业分析</a></li>
			    <li role="presentation"><a href="#futurePlan" id="futurePlan-tab" role="tab" data-toggle="tab" aria-controls="futurePlan">未来规划</a></li>
			    <li role="presentation"><a href="#projectEvent" id="projectEvent-tab" role="tab" data-toggle="tab" aria-controls="projectEvent">项目大事纪</a></li>
			  </ul>
			  <div id="myTabContent" class="tab-content">
			    <div role="tabpanel" class="tab-pane fade in active" id="teamIntro" aria-labelledBy="teamIntro-tab">
			    	<div class="teamIntroContent">
						<img src="">
						<div class="teamIntroNamePost">
							<a class="teamIntroName">Anne Hathaway</a></br><a class="teamIntroPost">CEO</a>
						</div>
						<div class="teamIntroInfo">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
						</div>
			    	</div>
			    	<div class="teamIntroContent">
						<img src="">
						<div class="teamIntroNamePost">
							<a class="teamIntroName">Anne Hathaway</a></br><a class="teamIntroPost">CEO</a>
						</div>
						<div class="teamIntroInfo">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
						</div>
			    	</div>
			    	<div class="teamIntroContent">
						<img>
						<div class="teamIntroNamePost">
							<a class="teamIntroName">Anne Hathaway</a></br><a class="teamIntroPost">CEO</a>
						</div>
						<div class="teamIntroInfo">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
						</div>
			    	</div>
			    </div>
			    <div role="tabpanel" class="tab-pane fade" id="productIntro" aria-labelledBy="productIntro-tab">
					<div id="productIntroDetail"><a>产品详细图文介绍</a></div>
					<img>
					<div id="productIntroWeb">
						<a>相关网站链接</a>
						<a id="productIntroWeblink">http://www.woyaomaishuiguo.com</a>
					</div>
					<div id="productIntroEr">
						<a>相关二维码</a>
						<img>
					</div>
			    </div>
			    <div role="tabpanel" class="tab-pane fade" id="horizontalAnaly" aria-labelledBy="horizontalAnaly-tab">
					<div class="horizontalAnalyContent">
						<a>总体市场分析</a>
						<div style="height:30px;"></div>
						<p>一个开放的O2O服务整合平台，上游整合美食、团购、打车、酒店机票、家政服务等O2O服务，打通账号，统一订单管理。下游跟联想、酷派中兴金立、天语等一线手机厂商合作，集成到系统，让用户买到手机就买到O2O服务，同时还开放SDK给如高德地图、凤凰新闻、有信这样的超级APP，为这些超级APP的流量找到除游戏、广告之外的第三个变现出口。</p>
					</div>
					<div class="horizontalAnalyContent">
						<a>竞争者分析</a>
						<div style="height:30px;"></div>
						<p>一个开放的O2O服务整合平台，上游整合美食、团购、打车、酒店机票、家政服务等O2O服务，打通账号，统一订单管理。下游跟联想、酷派中兴金立、天语等一线手机厂商合作，集成到系统，让用户买到手机就买到O2O服务，同时还开放SDK给如高德地图、凤凰新闻、有信这样的超级APP，为这些超级APP的流量找到除游戏、广告之外的第三个变现出口。</p>
					</div>
					<div class="horizontalAnalyContent">
						<a>消费者分析</a>
						<div style="height:30px;"></div>
						<p>一个开放的O2O服务整合平台，上游整合美食、团购、打车、酒店机票、家政服务等O2O服务，打通账号，统一订单管理。下游跟联想、酷派中兴金立、天语等一线手机厂商合作，集成到系统，让用户买到手机就买到O2O服务，同时还开放SDK给如高德地图、凤凰新闻、有信这样的超级APP，为这些超级APP的流量找到除游戏、广告之外的第三个变现出口。</p>
					</div>
					<div style="height: 10px;"></div>
			    </div>
			    <div role="tabpanel" class="tab-pane fade" id="futurePlan" aria-labelledBy="futurePlan-tab">
					<div class="futurePlanContent">
						<a>商业模式</a>
						<div style="height:30px;"></div>
						<p>一个开放的O2O服务整合平台，上游整合美食、团购、打车、酒店机票、家政服务等O2O服务，打通账号，统一订单管理。下游跟联想、酷派中兴金立、天语等一线手机厂商合作，集成到系统，让用户买到手机就买到O2O服务，同时还开放SDK给如高德地图、凤凰新闻、有信这样的超级APP，为这些超级APP的流量找到除游戏、广告之外的第三个变现出口。</p>
					</div>
					<div class="futurePlanContent">
						<a>未来规划</a>
						<div style="height:30px;"></div>
						<p>一个开放的O2O服务整合平台，上游整合美食、团购、打车、酒店机票、家政服务等O2O服务，打通账号，统一订单管理。下游跟联想、酷派中兴金立、天语等一线手机厂商合作，集成到系统，让用户买到手机就买到O2O服务，同时还开放SDK给如高德地图、凤凰新闻、有信这样的超级APP，为这些超级APP的流量找到除游戏、广告之外的第三个变现出口。</p>
					</div>
					<div style="height: 10px;"></div>
			    </div>
			    <div role="tabpanel" class="tab-pane fade" id="projectEvent" aria-labelledBy="projectEvent-tab">
			    </div>
			    <div id="myTabFooter"></div>
			  </div>
			</div>
		</div>
	</div>
	</div>

	<div id="roadshowpanel" class="hide">
	<div id="staticinfo3">
		<div id="staticinfo3container" class="container">
			<table class="staticinfo2icon" style="position: relative; left: 12px;">
				<tr><td><img src="../static/img/projectdetail/addguanzhu.png"></td></tr>
				<tr><td><img src="../static/img/projectdetail/addinvite.png"></td></tr>
				<tr><td><img src="../static/img/projectdetail/tocontact.png"></td></tr>
			</table>
			<div id="staticinfo4">
				<img>
				<a id="projectname2" style="font-size: 24px; line-height: 38px;">我是一个项目</a>
				<span id="staticinfo4span" class="label label-default" style="font-size: 14px; color: #FFFFFF;">天使轮</span></br>
				<a class="itemdetail" style="font-size: 18px; line-height: 54px;">我的目标是没有蛀牙，我的目标是没有蛀牙，我的目标是没有蛀牙</a></br>
				<span>社交</span>
				<span>&nbsp|&nbsp</span>
				<span>金融</span>
				<span>&nbsp|&nbsp</span>
				<span>游戏</span>
			</div>
		</div>
	</div>
	<div class="container" style="width: 1230px;">
		<img id="roadshowppt">
	</div>
	</div>

	<div style="height: 20px;"></div>
	<div id="bottomline"></div>
</div>

{% endblock %}
