{% extends "base.html" %}

{% block content %}

<!-- css -->
	<link href="../static/css/project_financing.css" rel="stylesheet">
	<link href="../static/css/font.css" rel="stylesheet">
<!-- end -->

<!-- 图片轮播部分 -->
	<div id="content-financing">
    	<div id="introduction">
    		<div id="vertical-line"></div>
    		<p class="t1 title1">什么是关注项目？</p>
    		<div id="horizontal-line"></div>
    		<p class="t3 title2">创+会把您关注的项目放到个人页面您关注的项目内，这样您就可以持续获得您关注的项目的最新信息。</p>
    	</div>
    	<div id="icons">
			<img id="banner1" class="banner" src="../static/img/project/bannerleftafter.png">
			<img id="banner2" class="banner" src="../static/img/project/bannerrightafter.png">
    	</div>
    	<div id="options">
    		<div id="opt0" align="center">
    			<div class="opt-pos0"></div>
    			<p class="t3 opt-text">筛选项目</p>
    			<div class="opt-pos0"></div>
    		</div>
    		<div id="opt1" class="opt">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">全部</p>
    			<div class="opt-pos"></div>
    		</div>
			<div id="opt2" class="opt">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">领域</p>
				<img src="" class="opt-img">
    			<div class="opt-pos"></div>
    		</div>
    		<div id="opt3" class="opt">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">地区</p>
    			<img src="" class="opt-img">
    			<div class="opt-pos"></div>
    		</div>
    		<div id="opt4" class="opt">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">类型</p>
    			<img src="" class="opt-img">
    			<div class="opt-pos"></div>
    		</div>
    		<div id="opt5" class="opt">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">融资情况</p>
    			<img src="" class="opt-img">
    			<div class="opt-pos"></div>
    		</div>
    		<div id="reset" class="opt">
    			<div class="opt-pos"></div>
    			<img src="" class="opt-img">
    			<div class="opt-pos"></div>
    		</div>
    	</div>
    </div>

<!-- 项目展示部分 -->
	{% for p in projects_past %}
	<div class="w1">
    	<div class="w10">
    		当前路演
    	</div>
    	<div class="w11">
    	</div>
    	<div class="w12">
      		<div class="w121">
      			{{ p.name }}
      		</div>
	      	<div class="w122">
	        	<div class="w1220">
	          		<div class="w12201">
	          			<img src="../static/img/project/chuangshiren.png">
	          		</div>
	          		<div class="w12202">
	          			Adrian CEO
	          		</div>
	        	</div>
	        	<div class="w1220">
	          		<div class="w12201">
	          			<img src="../static/img/project/rongziqingkuang.png">
	          		</div>
	          		<div class="w12202">
	          			天使轮
	          		</div>
	        	</div>
	        	<div class="clearfix">
	        	</div>
	      	</div>
	      	<div class="w123">
	      		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoret. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fer-meneitum, nulla luctus phearetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
	      	</div>
	      	<div class="w124">
	        	<div class="w1240">
	        		游戏
	        	</div>
	        	<div class="w1240">
	        		社交
	        	</div>
	        	<div class="w1240" style="margin:0">
	        		虚拟现实
	        	</div>
	        	<div class="clearfix">
	        	</div>
      		</div>
    	</div>
	    <div class="w13 purplebg">
	    	<img src="../static/img/project/seemore.png">
	    </div>
	    <div class="clearfix">
	    </div>
  	</div>
	<div class="blank">
	</div>
	{% endfor %}

<!-- 分页控件部分 -->
  	<div class="w2">
	  <div class="w21">
		  <img src="../static/img/project/pagesleft.png">
	  </div>
	  <div class="w22">
		  <div class="w220">
			  1
		  </div>
		  <div class="w220">
			  …
		  </div>
		  <div class="w220">
			  24
		  </div>
		  <div class="w220 purplebdbt">
			  25
		  </div>
		  <div class="w220">
			  26
		  </div>
		  <div class="w220">
			  …
		  </div>
		  <div class="w220">
			  79
		  </div>
	  </div>
	  <div class="w21">
		  <img src="../static/img/project/pagesright.png">
	  </div>
  </div>
  	<div class="clearfix">
  	</div>

<!-- 筛选菜单部分 -->
    <div id="lingyu" class="w3">
        <div class="w30">
            <div class="w300">
				<!-- <a href="{% url financing 1}" class="w300">教育</a> -->
				教育
			</div>
            <div class="w300">金融
            </div>
            <div class="w300">社交
            </div>
            <div class="w300">游戏
            </div>
            <div class="w300">媒体
            </div>
        </div>
        <div class="w30">
            <div class="w300">体育
            </div>
            <div class="w300">旅游
            </div>
            <div class="w300">硬件
            </div>
            <div class="w300">工具
            </div>
            <div class="w300">电子商务
            </div>
        </div>
        <div class="w30">
            <div class="w300">生活消费
			</div>
			<div class="w300">健康医疗
			</div>
			<div class="w300">营销广告
			</div>
			<div class="w300">文化艺术
			</div>
			<div class="w300">视频娱乐
			</div>
		</div>
        <div class="w30">
            <div class="w300">房产汽车
            </div>
            <div class="w300">企业服务
            </div>
            <div class="w300">创业服务
            </div>
            <div class="w300">能源材料
            </div>
            <div class="w300">搜索安全
            </div>
        </div>
        <div class="w30">
            <div class="w300">移动互联网
            </div>
            <div class="w300">站长工具
            </div>
            <div class="w300">其他
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div id="quanbu" class="w3">
        <div class="w30">
            <div class="w300 purplew3">教育
            </div>
            <div class="w300">金融
            </div>
            <div class="w300">社交
            </div>
            <div class="w300">游戏
            </div>
            <div class="w300">媒体
            </div>
        </div>
        <div class="w30">
            <div class="w300">体育
            </div>
            <div class="w300">旅游
            </div>
            <div class="w300">硬件
            </div>
            <div class="w300">工具
            </div>
            <div class="w300">电子商务
            </div>
        </div>
        <div class="w30">
            <div class="w300 purplew3">生活消费
            </div>
            <div class="w300">健康医疗
            </div>
            <div class="w300">营销广告
            </div>
            <div class="w300">文化艺术
            </div>
            <div class="w300">视频娱乐
            </div>
        </div>
        <div class="w30">
            <div class="w300">房产汽车
            </div>
            <div class="w300">企业服务
            </div>
            <div class="w300">创业服务
            </div>
            <div class="w300">能源材料
            </div>
            <div class="w300">搜索安全
            </div>
        </div>
        <div class="w30">
            <div class="w300">移动互联网
            </div>
            <div class="w300">站长工具
            </div>
            <div class="w300">其他
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>

<!-- js -->
	<script src="../static/js/project_financing.js"></script>
<!-- end -->

<!---->

{% endblock %}