{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!-- css -->
	<link href="{% static "css/project_financing.css" %}" rel="stylesheet">
	<link href="{% static "css/font.css" %}" rel="stylesheet">
<!-- end -->

<!-- 图片轮播部分 -->
	<div id="content-financing">
    	<div id="introduction">
    		<div id="vertical-line"></div>
    		<p class="t1 title1">什么是关注项目？</p>
    		<div id="horizontal-line"></div>
    		<p class="t3 title2">创+会把您关注的项目放到个人页面您关注的项目内，这样您就可以持续获得您关注的项目的最新信息。</p>
    	</div>
    	<div id="icons">
			<img id="banner1" class="banner" src="{% static "img/project/bannerleftafter.png" %}">
			<img id="banner2" class="banner" src="{% static "img/project/bannerrightafter.png" %}">
    	</div>
    	<div id="options">
    		<div id="opt0" align="center">
    			<div class="opt-pos0"></div>
    			<p class="t3 opt-text">筛选项目</p>
    			<div class="opt-pos0"></div>
    		</div>
			<div class="opt">
    			<a href="#"><div class="opt-pos"></div>
    			<p class="t3 opt-text">领域</p>
    			<img src="{% static "img/base-financing/xiala.png" %}" class="opt-img">
    			<div class="opt-pos"></div></a>
				<ul>
					<a href="?field=yx"><li>游戏</li></a>
					<a href="?field=sj"><li>社交</li></a>
					<a href="?field=hlw"><li>互联网</li></a>
					<a href="?field=rczp"><li>人才招聘</li></a>
					<a href="?field=jkyl"><li>健康医疗</li></a>
					<a href="?field=mt"><li>媒体</li></a>
					<a href="?field=jy"><li>教育</li></a>
					<a href="?field=wlw"><li>物联网</li></a>
					<a href="?field=qyfw"><li>企业服务</li></a>
					<a href="?field=yxtg"><li>营销推广</li></a>
					<a href="?field=jr"><li>金融</li></a>
					<a href="?field=ly"><li>旅游</li></a>
					<a href="?field=cw"><li>宠物</li></a>
					<a href="?field=yj"><li>硬件</li></a>
					<a href="?field=ty"><li>体育</li></a>
					<a href="?field=spyl"><li>视频娱乐</li></a>
					<a href="?field=ssaq"><li>搜索安全</li></a>
					<a href="?field=shxf"><li>生活消费</li></a>
					<a href="?field=whys"><li>文化艺术</li></a>
				</ul>
			</div>
            <div class="opt">
    			<a href="#">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">地区</p>
    			<img src="{% static "img/base-financing/xiala.png" %}" class="opt-img">
    			<div class="opt-pos"></div></a>
				<ul>
					<a href="?province=bj"><li>北京</li></a>
					<a href="?province=sh"><li>上海</li></a>
					<a href="?province=wx"><li>无锡</li></a>
					<a href="?province=ks"><li>昆山</li></a>
					<a href="?province=xm"><li>厦门</li></a>
					<a href="?province=overseas"><li>海外</li></a>
				</ul>
    		</div>
            <div class="opt">
    			<a href="#">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">类型</p>
    			<img src="{% static "img/base-financing/xiala.png" %}" class="opt-img">
    			<div class="opt-pos"></div></a>
				<ul>
					<a href="?type=1"><li>互联网产品</li></a>
					<a href="?type=2"><li>互联网服务</li></a>
					<a href="?type=3"><li>实体产品</li></a>
					<a href="?type=4"><li>线下服务</li></a>
					<a href="?type=5"><li>O2O</li></a>
					<a href="?type=6"><li>其他</li></a>
				</ul>
    		</div>
            <div class="opt">
    			<a href="#">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">阶段</p>
    			<img src="{% static "/img/base-financing/xiala.png" %}" class="opt-img">
    			<div class="opt-pos"></div></a>
				<ul>
					<a href="?stage=1"><li>天使轮</li></a>
					<a href="?stage=2"><li>A轮</li></a>
					<a href="?stage=3"><li>B轮</li></a>
					<a href="?stage=4"><li>C轮</li></a>
					<a href="?stage=5"><li>D轮</li></a>
					<a href="?stage=6"><li>上市</li></a>
				</ul>
    		</div>
            <div class="opt">
    			<a href="#">
    			<div class="opt-pos"></div>
    			<p class="t3 opt-text">推荐</p>
    			<img src="{% static "/img/base-financing/xiala.png" %}" class="opt-img">
    			<div class="opt-pos"></div></a>
				<ul>
					<a href="?field=1"><li>精选推荐</li></a>
					<a href="?field=1"><li>全部项目</li></a>
				</ul>
    		</div>
    		<div id="reset" class="opt">
    			<div class="opt-pos"></div>
    			<img src="" class="opt-img">
    			<div class="opt-pos"></div>
    		</div>
    	</div>
    </div>
<!---->
	<script type="text/javascript">
	$(document).ready(function(){
	$("#options").find("ul").hide();
	$("#site_wel").hide();				   
	var wel=$("#site_wel").html();
	$("#site_info").html(wel);
	});
	 $("#options").find(".opt").hover(function(){$(this).find("ul").fadeIn(320);},function(){$(this).find("ul").hide();});
	</script>
<!---->
	{% for project in projects %}
  	<div class="w1">
    	<div class="w10">
    		{{ project.is_roadshowing }}
    	</div>
    	<div class="w11">
    	</div>
    	<div class="w12">
      		<div class="w121">
      			{{ project.name }}
      		</div>
	      	<div class="w122">
	        	<div class="w1220">
	          		<div class="w12201">
	          			<img src="{% static "img/project/chuangshiren.png" %}">
	          		</div>
	          		<div class="w12202">
	          			{{ project.contact_name }}
	          		</div>
	        	</div>
	        	<div class="w1220">
	          		<div class="w12201">
	          			<img src="{% static "img/project/rongziqingkuang.png" %}">
	          		</div>
	          		<div class="w12202">
	          			{{ project.stage }}
	          		</div>
	        	</div>
	        	<div class="clearfix">
	        	</div>
	      	</div>
	      	<div class="w123">
	      		{{ project.summary }}
	      	</div>
	      	<div class="w124">
	        	<div class="w1240">
	        		{{ project.field1 }}
	        	</div>
	        	<div class="w1240">
	        		{{ project.field2 }}
	        	</div>
	        	<div class="w1240" style="margin:0">
	        		{{ project.field3 }}
	        	</div>
	        	<div class="clearfix">
	        	</div>
      		</div>
    	</div>
	    <div class="w13 purplebg">
	    	<img src="{% static "img/project/seemore.png" %}">
	    </div>
	    <div class="clearfix">
	    </div>
  	</div>

	<div class="blank">
	</div>
	{% endfor %}

<!-- 分页控件部分 -->
  	<div class="w2">
	  <div class="w21">
		  <img src="{% static "img/project/pagesleft.png" %}">
	  </div>
	  <div class="w22">
		  <div class="w220">
			  1
		  </div>
		  <div class="w220">
			  …
		  </div>
		  <div class="w220">
			  24
		  </div>
		  <div class="w220 purplebdbt">
			  25
		  </div>
		  <div class="w220">
			  26
		  </div>
		  <div class="w220">
			  …
		  </div>
		  <div class="w220">
			  79
		  </div>
	  </div>
	  <div class="w21">
		  <img src="{% static "img/project/pagesright.png" %}">
	  </div>
  </div>
  	<div class="clearfix">
  	</div>

<!-- 筛选菜单部分 -->
    <div id="lingyu" class="w3">
        <div class="w30">
            <div class="w300">
				<!-- <a href="{% url financing 1}" class="w300">教育</a> -->
				教育
			</div>
            <div class="w300">金融
            </div>
            <div class="w300">社交
            </div>
            <div class="w300">游戏
            </div>
            <div class="w300">媒体
            </div>
        </div>
        <div class="w30">
            <div class="w300">体育
            </div>
            <div class="w300">旅游
            </div>
            <div class="w300">硬件
            </div>
            <div class="w300">工具
            </div>
            <div class="w300">电子商务
            </div>
        </div>
        <div class="w30">
            <div class="w300">生活消费
			</div>
			<div class="w300">健康医疗
			</div>
			<div class="w300">营销广告
			</div>
			<div class="w300">文化艺术
			</div>
			<div class="w300">视频娱乐
			</div>
		</div>
        <div class="w30">
            <div class="w300">房产汽车
            </div>
            <div class="w300">企业服务
            </div>
            <div class="w300">创业服务
            </div>
            <div class="w300">能源材料
            </div>
            <div class="w300">搜索安全
            </div>
        </div>
        <div class="w30">
            <div class="w300">移动互联网
            </div>
            <div class="w300">站长工具
            </div>
            <div class="w300">其他
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div id="quanbu" class="w3">
        <div class="w30">
            <div class="w300 purplew3">教育
            </div>
            <div class="w300">金融
            </div>
            <div class="w300">社交
            </div>
            <div class="w300">游戏
            </div>
            <div class="w300">媒体
            </div>
        </div>
        <div class="w30">
            <div class="w300">体育
            </div>
            <div class="w300">旅游
            </div>
            <div class="w300">硬件
            </div>
            <div class="w300">工具
            </div>
            <div class="w300">电子商务
            </div>
        </div>
        <div class="w30">
            <div class="w300 purplew3">生活消费
            </div>
            <div class="w300">健康医疗
            </div>
            <div class="w300">营销广告
            </div>
            <div class="w300">文化艺术
            </div>
            <div class="w300">视频娱乐
            </div>
        </div>
        <div class="w30">
            <div class="w300">房产汽车
            </div>
            <div class="w300">企业服务
            </div>
            <div class="w300">创业服务
            </div>
            <div class="w300">能源材料
            </div>
            <div class="w300">搜索安全
            </div>
        </div>
        <div class="w30">
            <div class="w300">移动互联网
            </div>
            <div class="w300">站长工具
            </div>
            <div class="w300">其他
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>

<!-- js -->
	<script src="{% static "js/project_financing.js" %}"></script>
<!-- end -->

<!---->

{% endblock %}